﻿<!DOCTYPE html>
<html ng-app="IoTApp">

<head>
    <meta charset="utf-8" />
    <title>IoT-Masterminds</title>
    <script>document.write('<base href="' + document.location + '" />');</script>

    <!--css libraries-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <!--script libraries-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/bootstrap-dropdown/index.js"></script>

    <script src="services/websocket-app.js"></script>
    <script src="services/brain-service.js"></script>

    <script src="js/script/directives/multiselect-list.js"></script>
    <script src="js/script/directives/graph-directive.js"></script>
    <script src="js/script.js"></script>

</head>

<body ng-controller="MainCtrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><h1>IoT-Masterminds</h1></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <p>Select Devices</p>
            <div ng-repeat="item in Devices">
                <input type="checkbox" checkbox-group/>
                <label data-toggle="collapse" data-target="#collapseData{{item.id}}" aria-expanded="false" aria-controls="collapseExample">{{item.name}}</label>

         
                <div class="collapse" id="collapseData{{item.id}}">
                  <div class="well" ng-repeat="descriptor in item.description">
                    <label>Name: {{descriptor.name}}</label>
                    <label>Type: {{descriptor.type}}</label>
                  </div>
                </div>
            </div>
        </div>

<!--<<<<<<< HEAD
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <p>Device report</p>
                <div ng-repeat="item in DevicesSelected">
                    <sensorgraph ng-model="item"></sensorgraph>
                </div>

                <div class="json-format">
                    <p>Json response selected</p>
                    <span>{{DevicesSelected|json}}</span>
                </div>

=======-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="margin:0 !important;">
            <p>Device report</p>
            <div ng-repeat="item in DevicesSelected">
                <sensorgraph ng-model="item"></sensorgraph>
            </div>
            <div class="json-format">
                <p>Json response selected</p>
                <span>{{DevicesSelected|json}}</span>
            </div>
        </div>
    </div>

</div>


</body>

</html>
