body {
    display: block;
    margin: 0;
}

.json-format {
    padding: 20px;
}

.json-format p {
    color: rgb(37, 37, 54);
}

.json-format span {
    color: green;
    font-style: italic;
    font-size: 16px;
}

.navbar-header h1 {
    color: #fff;
}
